<div id="fade"></div>
    <a id="slide" class="animated fade"><i class="fa fa-bars"></i></a>
    <aside id="sidebar">
        <nav id="navigation">
            <h2>MENU</h2> <hr>
            <ul>
{% for link in site.links %}
                <li>
                {% if link.external %}
                    <a href="{{ link.url }}">{{ link.title }}</a>
                {% else %}
                    <a href="{{ site.url }}{{ link.url }}">{{ link.title }}</a>
                {% endif %}
                </li>
{% endfor %}            
                <li><a href="{{ site.url }}/feed.xml" title="Atom/RSS feed"><i class="fa fa-rss"></i> Feed</a></li>
            </ul>
        </nav>
        <nav id="navigation">
        <h2>CATEGORIES</h2>
        <hr>
        <ul> {% for tag in site.categories %} 
            <li>
                <a href="{{ site.url }}/categories/index.html#{{ tag[0] }}">{{ tag[0] }}</a></li>
            {% endfor %}
        </ul>
    </nav>

    </aside>
